{% extends "base.html" %}
{% block title %}Rental property generator{% endblock %}

{% block app_content %}

<h2>Other websites</h2>
<p><img src="{{ url_for('static', filename='images/scrapy.png') }}" width="100"></p>
<p>Data is scraped from websites that do not have an API using Scrapy.</p>
<p>Currently Gayshare data is only for Newtown area.</p>

<h3>Gayshare</h3>
<p><a href="http://www.gayshare.com.au" target="_blank">http://www.gayshare.com.au</a></p>

<p>{{ data|length }} results returned</p>

{% if data|length >= 1 %}
    <p><a href="{{ url_for('static', filename='csv_download/other.csv') }}"><i class="fas fa-file-csv"></i> Download Excel report (csv)</a></p>

    <table class="table-stripe">
        <tr>
            <th>Suburb</th>
            <th>Status</th>
            <th>Price</th>
            <th>Home Type</th>
            <th>Available</th>
            <th>Occupants</th>
            <th>Description</th>
            <th></th>
        </tr>
    {% for key,value in data.iterrows() %}
        <tr>
            <td>{{ value['Suburb'] }}</td>
            <td>{{ value['Status'] }}</td>
            <td>{{ value['Price'] }}</td>
            <td>{{ value['Home_Type'] }}</td>
            <td>{{ value['Available'] }}</td>
            <td>{{ value['Occupants'] }}</td>
            <td>{{ value['Description'] }}</td>
            <td><a href="{{ value['url'] }}" target="_blank">View Listing</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
